* {
  margin: 0;
  padding: 0;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(leaf9.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 100px;
}
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
}
.nav-links ul li a:hover {
  color: antiquewhite;
}

.plantopedia {
  font-family: Montagu Slab;
  font-size: 45px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(168, 196, 150);
  margin-left: 50px;
  margin-top: 18px;
}

.leaf {
  color: rgb(190, 241, 231);
  margin-left: 45px;
  margin-top: 10px;
  font-size: 30px;
  width: 500px;

  font-family: Arial, Helvetica, sans-serif;
  /* display: flex; */

  font-weight: 80;

  /* text-align:justify; */
}

.button {
    background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 50px;
 
}

.button1{
    background-color: white; 
  color: rgb(198, 175, 0); 
  border: 2px solid #7fad9c;
}

.button1:hover{
    background-color: #04AA6D;
    color: white;
}

.button1 i{
    justify-content: space-evenly ;
    color: #7fad9c;
    padding: 5px 6px;
}

